<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}SlideShow_blog - Eversys{% endblock  %}</title>
        <link rel="icon" type="image/ico" href="{{ asset('img/logo_ico.ico') }}">
        {# CDN DU JQUERY le laisser en haut pour charger avant le block JS #}
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            <link href="{{ asset('css/style.css') }}" rel="stylesheet" type="text/css" media="all">
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
        {% endblock  %}
    </head>
    <body>
    
        {% block body %}    {% endblock %}

         {% block javascripts %}
           {# {{ encore_entry_script_tags('app') }} #}
            {#<script src="{{ asset('js/custom.js') }}"></script>
            <script src="js/jquery.js"></script>#} 
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>      
         {% endblock  %}
    
    </body>
</html>